{{ form_start(form,{'attr': {'class': 'form-box w-25 mx-auto'}}) }}
{{ form_widget(form) }}
<button class="btn btn-outline-success">{{ button_label|default('Registrar') }}</button>
{{ form_end(form) }}
