{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'new_text' | trans({ '%text%': 'Administrator'|trans({},null, lang) },null, lang) }}
{% endblock %}
{% block header %}{{ 'new_text' | trans({ '%text%': 'Administrator'|trans({},null, lang) },null, lang) }}
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-4">
				
				{{ include('admin/super_admin/_form.html.twig') }}
			</div>
		</div>
	</div>

{% endblock %}
