<footer class="footer text-center text-lg-start fixed-bottom bg-dark text-white">
	<div class="text-center p-3">
		<span>©
			{{ "now"|date("Y") }}
			Copyright:
			<a class="text-white" href="https://doctaforum.com/" target="_blank">Doctaforum Medical Marketing Specialist</a>
		</span>
	</div>
</footer>
