:root {
    --color-gray: #f8f8f2;
    --color-green: #009845;
    --color-darkgreen: #02391c;
    --color-white: #ffffff;
    --color-dark: #332D2D;
}

html,body{
    height: 85vh;
}

.datatable-header{
    background-color: var(--color-green) !important;
    color: white !important;
}

.alert{
    padding-block: .8rem !important;
}

.border-top-left 
{border-top-right-radius: .5rem !important;}

.border-top-right
{border-top-left-radius: .5rem !important;}
/* footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
} */

/* .bg-success,.btn-success{
    background-color: var(--color-green) !important;
} */
