<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path("index") }}">
			<img src="{{ asset("assets/img/doctaforum.png") }}" class="img-fluid">
		</a>
		<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fa-solid fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Pestaña 1</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pestaña 2</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pestaña 3</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
