<div class="legal-txt">
	<div class="modal fade" id="condiciones-de-uso" tabindex="-1" aria-labelledby="condiciones-de-usoLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="condiciones-de-usoLabel">
						Aviso legal y Condiciones de uso
					</h5>
					<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<iframe src="https://doctaforum.org/--AvisoLegal-Cookies/Aviso-Legal-ES-para-Doctaforum-Congresos.php" style="background: #FFFFFF;width: 100%;" height="700px"></iframe>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-cerrar mx-auto" data-mdb-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="politica-de-privacidad" tabindex="-1" aria-labelledby="politica-de-privacidadLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="politica-de-privacidadLabel">
						Política de privacidad
					</h5>
					<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<iframe src="https://doctaforum.org/--AvisoLegal-Cookies/Politica-de-Privacidad-ES.php?responsable=Swedish Orphan Biovitrum S.L (SOBI)" style="background: #FFFFFF;width: 100%;" height="700px"></iframe>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-cerrar mx-auto" data-mdb-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="politica-de-cookies" tabindex="-1" aria-labelledby="politica-de-cookiesLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="politica-de-cookiesLabel">
						Política de cookies
					</h5>
					<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<iframe src="https://www.doctaforum.org/--AvisoLegal-Cookies/Cookies-ES-2daCapa.php" style="background: #FFFFFF;width: 100%;" height="700px"></iframe>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-cerrar mx-auto" data-mdb-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>
