{% extends 'admin/base.html.twig' %}
{% block title %}{{ 'Edit #%text%' | trans({ '%text%': user.id },null, lang) }}
{% endblock %}
{% block header %}
	{{ 'Edit #%text%' | trans({ '%text%': user.id },null, lang) }}
{% endblock %}
{% block body %}

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-4">
				{{ include('admin/front_user/_form.html.twig', {'button_label': 'updated'|trans}) }}
			</div>
		</div>
	</div>

{% endblock %}
